* {
  user-select: none;
}

h1 {
  font-family: "MierB03", "Helvetica", "Arial", sans-serif;
  font-weight: 800;
  font-size: 38px;
  text-align: center;
  margin: 50px 0px 40px 0px;
}

.center {
  text-align: center;
}

#tag-line {
  font-family: "MierB03", "Helvetica", "Arial", sans-serif;
  font-size: 17px;
  margin-bottom: 40px;
}

.password-image {
  width: 400px;
  margin-left: 40px;
  float: left;
}

.text-box {
  width: 400px;
  background-color: white;
  border-color: white; 
  position: relative;
  top: 50px;
  left: 100px;
}

.refresh-icon {
  position: relative;
  left: 450px;
  top: 20px;
  cursor: pointer;
}